.button {
    -fx-background-color: #57a5c4;
    -fx-text-fill: white;
    -fx-max-width: 300;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.button-large {
    -fx-font-size: 25;
    -fx-pref-height: 40;
    -fx-pref-width: 300;
}

.button.dangerous {
    -fx-background-color: #F44336;
}

.button:hover{
    -fx-cursor: hand;
    -fx-opacity: 0.8;
    -fx-background-color: #4a96b5;
}

.button:focused {
    -fx-opacity: 0.8;
}

.read-errors-list {
    -fx-font-size: 20;
    -fx-pref-height: 300;
    -fx-pref-width: 300;
    -fx-background-color: #f2f2f2;
    -fx-border-color: black;
}